body {
    background-color: #212121;
}

.blurAll > *:not(.markerPopup, .newOrCHeckPopUp, .reportPopUp) {
    filter: blur(3px);
}

.banner {
    background: #36b3a8;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
    display: flex;
    text-align: center;
    padding: 16px;
    height: auto;
    width: 400px;
    border-radius: 25px;
    margin: auto; /* Center horizontally */
    margin-bottom: 10px;
}
.banner-image {
    float: left;
}
.banner-image img {
    max-width: 100px;
}
.bannerText {
    margin: auto;
    margin-left: 15px;
}
.bannerText h1 {
    vertical-align: center;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    height: auto;
    width: 400px;
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px; 
}
button {
    float: right;
    background-color: #36b3a8;
    border-radius: 25px;
    height: 30px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
h1 {
    text-align: center;
}

input {
    background: whitesmoke;
}

#helperText {
    font-size: x-small;
    display: block;
}

.markerPopup {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    height: auto;
    width: auto;
    border-radius: 25px;
    background: #b4b4b4;
    padding: 20px;


    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}

.newOrCHeckPopUp {

    height: auto;
    width: auto;

    background: #b4b4b4;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */

    border-radius: 25px;
    padding: 20px;


    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}


.newOrCHeckPopUp h1 {
    color: #23726d;
}

.newOrCHeckPopUp h2 {
    color: #23726d;
    text-align: center;
}

.btnCreateNew {
    float: left;
}

input[type="file"] {
    background: #b4b4b4;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transform: translate(30px, 0px);
}
.uploadButtonCenterHor {
    display: table;
    margin: 0 auto;
}




.reportPopUp {

    height: auto;
    width: auto;

    background: #b4b4b4;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2); /* this adds the "card" effect */

    border-radius: 25px;
    padding: 20px;


    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99 !important;
}

.reportPopUp textarea {
    background: #000000;
    color: red;
}

